/* Solarized colors */
:root {
  --solarized_base03: #002b36;
  --solarized_base02: #073642;
  --solarized_base01: #586e75;
  --solarized_base00: #657b83;
  --solarized_base0: #839496;
  --solarized_base1: #93a1a1;
  --solarized_base2: #eee8d5;
  --solarized_base3: #fdf6e3;
  --solarized_yellow: #b58900;
  --solarized_orange: #cb4b16;
  --solarized_red: #dc322f;
  --solarized_magenta: #d33682;
  --solarized_violet: #6c71c4;
  --solarized_blue: #268bd2;
  --solarized_cyan: #2aa198;
  --solarized_green: #859900;

  --solarized_base03_rgb: 0, 43, 54;
  --solarized_base02_rgb: 7, 54, 66;
  --solarized_base01_rgb: 88, 110, 117;
  --solarized_base00_rgb: 101, 123, 131;
  --solarized_base0_rgb: 131, 148, 150;
  --solarized_base1_rgb: 147, 161, 161;
  --solarized_base2_rgb: 238, 232, 213;
  --solarized_base3_rgb: 253, 246, 227;
  --solarized_yellow_rgb: 181, 137, 0;
  --solarized_orange_rgb: 203, 75, 22;
  --solarized_red_rgb: 220, 50, 47;
  --solarized_magenta_rgb: 211, 54, 130;
  --solarized_violet_rgb: 108, 113, 196;
  --solarized_blue_rgb: 38, 139, 210;
  --solarized_cyan_rgb: 42, 161, 152;
  --solarized_green_rgb: 133, 153, 0;
}

/* ---------- Theme ---------- */

:root {
  --color-primary: var(--solarized_yellow);

  --color-surface: var(--solarized_base3);
  --color-surface-bright: var(--solarized_base3);
  --color-base-white: var(--solarized_base3);
  --color-background-grouped: var(--solarized_base3);
  --color-background-elevated: var(--solarized_base3);

  --color-secondary-container: var(--solarized_base2);
  --color-tertiary-container: var(--solarized_base2);
  --color-background-sidebar-opaque: var(--solarized_base2);
  --color-background-commandbar-opaque: var(--solarized_base2);
  --color-border-neutrals: var(--solarized_base2);
  --color-background-grouped-weak: var(--solarized_base2);
  --color-border-neutrals-weak: var(--solarized_base2);
  --color-background-message-bubble-received: var(--solarized_base2);
  --color-background-input: var(--solarized_base2);
  --color-bg: var(--solarized_base2);

  --color-outline: var(--solarized_base1);

  --color-brand: var(--solarized_blue);
  --color-gradient: linear-gradient(
    190.1deg,
    var(--solarized_blue) -7.24%,
    var(--solarized_violet) 109.66%
  );

  --color-background-button-secondary: var(--solarized_base2);
  --color-border-button-secondary: transparent;
  --color-text-button-secondary: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--solarized_cyan);

    --color-surface: var(--solarized_base03);
    --color-surface-bright: var(--solarized_base03);
    --color-base-white: var(--solarized_base03);
    --color-background-grouped: var(--solarized_base03);
    --color-background-elevated: var(--solarized_base03);

    --color-secondary-container: var(--solarized_base02);
    --color-tertiary-container: var(--solarized_base02);
    --color-background-sidebar-opaque: var(--solarized_base02);
    --color-background-commandbar-opaque: var(--solarized_base02);
    --color-border-neutrals: var(--solarized_base02);
    --color-background-grouped-weak: var(--solarized_base02);
    --color-border-neutrals-weak: var(--solarized_base02);
    --color-background-message-bubble-received: var(--solarized_base02);
    --color-background-input: var(--solarized_base02);
    --color-bg: var(--solarized_base02);

    --color-outline: var(--solarized_base01);

    --color-brand: var(--solarized_blue);
    --color-gradient: linear-gradient(
      190.1deg,
      var(--solarized_blue) -7.24%,
      var(--solarized_violet) 109.66%
    );

    --color-background-button-secondary: var(--solarized_base00);
    --color-border-button-secondary: transparent;
    --color-text-button-secondary: var(--color-fg);
  }
}

.menu-list,
.emoji-mart {
  background: var(--color-background-elevated);
}
.emoji-mart-category-label span {
  background: var(--color-secondary-container);
}

/* ---------- Tweaks ---------- */

:root {
  /* make sidebar slightly narrower */
  --account-switcher-width: 54px;
}

.account-switcher .left-pane-footer {
  /* add divider between networks and settings/actions */
  border-top: gray 1px solid;

  /* reduce space after bottom-left buttons */
  padding: 0 0 6px;
}

.emoji-mart-category-label span {
  border-radius: 6px;
}
.emoji-mart-category-label {
  padding-top: 4px;
}
