/* Solarized colors */
:root {
  --solarized_base03: #002b36;
  --solarized_base02: #073642;
  --solarized_base01: #586e75;
  --solarized_base00: #657b83;
  --solarized_base0: #839496;
  --solarized_base1: #93a1a1;
  --solarized_base2: #eee8d5;
  --solarized_base3: #fdf6e3;
  --solarized_yellow: #b58900;
  --solarized_orange: #cb4b16;
  --solarized_red: #dc322f;
  --solarized_magenta: #d33682;
  --solarized_violet: #6c71c4;
  --solarized_blue: #268bd2;
  --solarized_cyan: #2aa198;
  --solarized_green: #859900;
}

/* ---------- Theme ---------- */

:root {
  --color-primary: var(--solarized_base0);

  --color-surface: var(--solarized_base3);
  --color-surface-bright: var(--solarized_base3);
  --color-base-white: var(--solarized_base3);

  --color-secondary-container: var(--solarized_base2);
  --color-tertiary-container: var(--solarized_base2);
  --color-background-sidebar-opaque: var(--solarized_base2);
  --color-background-grouped-weak: var(--solarized_base2);
  --color-border-neutrals-weak: var(--solarized_base2);

  --color-brand: var(--solarized_blue);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* ---------- Tweaks ---------- */

:root {
  /* make sidebar slightly narrower */
  --account-switcher-width: 54px;
}

.account-switcher .left-pane-footer {
  /* add divider between networks and settings/actions */
  border-top: gray 1px solid;

  /* reduce space after bottom-left buttons */
  padding: 0 0 6px;
}
